@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

section{
  margin: 0px auto;
}

p, a{
  font-family: -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", 'Inter', "Helvetica Neue", sans-serif;
}

.Home{
  background-color: #F1EFE9;
  margin: 0px auto;
  max-width: 1600px;
  min-height: 100vh;
  padding: 0px 150px;
}

.Home-Page{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  padding: 0px;
}

.Home-Text1{
  font-family: 'JetBrains Mono', monospace;
  font-size: 16px;
  margin: 0px 0px 30px 4px;
  opacity: 80%;
}

.Home-Text2{
  font-size: 70px;
  font-weight: bold;
  margin: 0px;
  text-shadow: 1px 1px 2px #777777;
}

.Home-Text3{
  margin: 0px;
  margin-top: 10px;
  font-size: 70px;
  opacity: 50%;
}

.Home-Text4{

  margin: 20px 0px 0px;
  max-width: 540px;
  font-size: 24px;
  opacity: 75%;
  text-shadow: 1px 1px 1px #ffffff;
}
/* ========================================= */
.About {
  background-color: #E2DED1;
  margin: 0px auto;
  max-width: 1600px;
  min-height: 100vh;
  padding: 0px 150px;
}

.About-Me {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  max-width: 900px;
  padding: 0px;
}

.About-Header{
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 32px;
  text-shadow: 1px 1px 5px #777777;
  display: flex;
  align-items: center;
  position: relative;
  margin: 60px 0px 35px;
}

.Inner {
  display: grid;
  grid-template-columns: 4fr 2fr;
  gap: 50px;
  margin-bottom: 65px;
}
.Profile-Resume{
  text-align: center;
}

.About-Description {
  margin: 0px 0px 20px;
  max-width: 540px;
  font-size: 20px;
  text-align: justify;
}

.Profile-Pic{
  display: flex;
  justify-content: space-between;
  max-height: 375px;
  width: auto;
  margin-top: 0px;
  margin-bottom: 30px;
  border-radius: 50%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: 300ms linear;
}

.Profile-Pic:hover{
  transform: scale(1.03);
  transition: transform 330ms ease-in-out;
}

.Resume {
  color: black;
  font-size: 20px;
  opacity: 80%;
  margin-top: 10px;
  text-decoration: none;
  text-shadow: 0px 0px 2px #777777;
  font-weight: 400;
}

.Resume:hover {
  color: #49432e;
}

.info {
  font-size: 18px;
  text-align: center;
  margin: 0px;
  font-weight: 500;
}

ul{
  /* display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, minmax(100px, 10px));
  gap: 10px 10px;
  padding: 0px;
  margin: 20px 0px 0px;
  list-style: none; */

  display: flex;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
  padding: 0px;
}

li {
  display: inline-block;
  margin: 10px 10px;
  width: 75px;
  height: 75px;
}

.icons{
  filter: brightness(0%);
  
}

.icon {
  display: flex;
  flex-direction: column;
  height: 75px;
  width: 75px;
  margin: 0px 0px 0px 0px;
}

.icon:hover {
  transform: scale(1.1);
}
/* ========================================= */
.Project {
  background-color: #F1EFE9;
  margin: 0px auto;
  max-width: 1600px;
  min-height: 100vh;
  padding: 0px 150px;
}

.Projects {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  max-width: 900px;
  padding: 0px;
}

.Project-Header{
  display: flex;
  align-items: center;
  position: relative;
  text-shadow: 1px 1px 5px #777777;
  margin: 60px 0px 10px 0px;
  font-size: 32px;
}

.Jasz-Inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;
}

.Jasz-Image{
  width: 50%;
  max-height: 250px;
  margin-top: 0px;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 40%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  text-align: center;
  border-radius: 5px;
  transition: 300ms linear;
}

.Jasz-Image:hover {
  transform: scale(1.1);
  transition: transform 330ms ease-in-out;
}

.Jasz-Description {
  margin: 0px 0px 0px 50px;
  max-width: 500px;
  font-size: 20px;
  text-align:justify;
}

.Jasz-Site-Link {
  margin: 0px 0px 0px 50px;
  display: flex;
  justify-content: space-evenly;
}

.Matrix-Inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;
}

.Matrix-Image{
  width: 50%;;
  max-height: 250px;
  margin-top: 0px;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 50%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  text-align: center;
  border-radius: 5px;
  transition: 300ms linear;
}

.Matrix-Image:hover {
  transform: scale(1.1);
  transition: transform 330ms ease-in-out;
}

.Matrix-Description {
  margin: 0px 0px 0px 50px;
  max-width: 500px;
  font-size: 20px;
  text-align:justify;
}

.Matrix-Site-Link {
  margin: 0px 0px 0px 50px;
  display: flex;
  justify-content: space-evenly;
}

.Bar-Inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;
}

.Bar-Image{
  width: 50%;
  max-height: 250px;
  margin-top: 0px;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 50%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  text-align: center;
  border-radius: 5px;
  transition: 300ms linear;
}

.Bar-Image:hover {
  transform: scale(1.1);
  transition: transform 330ms ease-in-out;
}

.Bar-Description {
  margin: 0px 0px 0px 50px;
  max-width: 500px;
  font-size: 20px;
  text-align:justify;
}


.Bar-Site-Link {
  margin: 0px 0px 0px 50px;
  display: flex;
  justify-content: space-evenly;
}

.Site {
  color: black;
  margin: 10px 0px 0px 0px;
  padding-top: 5px;
  text-decoration: none;
  font-size: 20px;
}

.Site:hover {
  color: #49432e;
}

.Repo {
  width: 30px;
  height: 30px;
  margin: 10px 0px 0px 0px;
  border-radius: 50%;
  filter: brightness(0%);
  transition: 300ms linear;
}

.Repo:hover {
  filter: invert(21%) sepia(66%) saturate(235%) hue-rotate(9deg) brightness(96%) contrast(88%);
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  transform: scale(1.1);
  transition: transform 330ms ease-in-out;
}
/* ========================================= */
footer{
  background-color: black;
  color: #E2DED1;
  text-align: center!important;
  padding-bottom: 1vh;
}

.footer-text1 {
  font-size: 40px;
  margin-top: auto;
  margin-bottom: 0px;
  padding-top: 12vh;
}

.footer-text2 {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.External-Link {
  filter: invert(50%) sepia(6%) saturate(673%) hue-rotate(323deg) brightness(158%) contrast(29%);
  width: 50px;
  height: 50px;
  margin: 50px 50px 50px 50px;
}

.External-Link:hover {
  filter: invert(90%) sepia(0%) saturate(673%) hue-rotate(323deg) brightness(200%) contrast(99%);
  text-shadow: 1px 1px 6px #000000;
}

.footer-text3 {
  color: bisque;
  font-size: 20px;
  opacity: 70%;
  margin-bottom: 10px;
  text-decoration: none;
}

.footer-text3:hover {
  color: #F1EFE9;
  text-shadow: 1px 1px 6px #000000;
  text-decoration: underline;
}

.footer-text4 {
  font-size: 20px;
  opacity: 70%;
  margin-top: 0px;
  margin-bottom: 0px;
}

.footer-text5 {
  font-size: 20px;
  margin-top: 0px;
  opacity: 30%;

}

/* ========================================= */
@media only screen and (max-width: 968px) {
  .Home, .About, .Project {
    padding: 0px 50px;
  }

    .Inner {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }

  .About-Header, .Project-Header {
    font-weight: bolder;
    text-shadow: 0px 0px 1px #777777;
    width: 100%;
    justify-content: center;
  }

  .About-Div {
    overflow:auto;
  }

  .Profile-Pic {
    display: flex;
    max-height: 384px;
    box-shadow: none;
    margin-top: 18px;
    margin-bottom: 10px;
    justify-content: center;

  }

  .Jasz-Inner, .Matrix-Inner, .Bar-Inner {
    flex-direction: column;
  }

  .Jasz-Image, .Matrix-Image, .Bar-Image {
    width: 100%;
    max-height: fit-content;
    margin-bottom: 50px;
  }

  .About-Description, .Jasz-Description, .Matrix-Description, .Bar-Description {
    margin-left: 0px;
    max-width: fit-content;

  }

  .Jasz-Site-Link, .Matrix-Site-Link, .Bar-Site-Link {
    margin-left: 0px;
  }

  .footer-text2 {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
}




@media only screen and (max-width: 675px) {
  .Home, .About, .Project {
    padding: 0px 25px;
  }

  .Inner {
    display: flex;
    flex-direction: column-reverse;
    max-width: 325px;
  }

  .About-Header, .Project-Header {
    font-weight: bolder;
    text-shadow: 0px 0px 1px #777777;
    width: 100%;
    justify-content: center;
  }

  .About-Div {
    overflow:auto;
  }

  ul {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .Profile-Resume{
    text-align: center;
  }

  .Profile-Pic {
    max-height: 319px;
    box-shadow: none;
    margin-top: 18px;
    margin-bottom: 10px;
  }

  .Jasz-Inner, .Matrix-Inner, .Bar-Inner {
    flex-direction: column;
    max-width: 325px;
  }

  .Jasz-Image, .Matrix-Image, .Bar-Image {
    width: 100%;
    margin-bottom: 25px;
  }

  .Jasz-Description, .Matrix-Description, .Bar-Description {
    margin-left: 0px;
  }

  .Jasz-Site-Link, .Matrix-Site-Link, .Bar-Site-Link {
    margin-left: 0px;
  }

  .footer-text2 {
    margin-left: 10px;
    margin-right: 10px;
  }
}